# SQL Basics

## Course: Programming and Data Management (EDI 3400)

### *Vegard H. Larsen (Department of Data Science and Analytics)*

# 1. The Auto Dealership Database

## Let's look at the database in DB browser for SQLite

# 2. Running SQL-code in the Notebook

## An SQL-extension

- Download the file `isqlite3.py` from Ed 
- The file `isqlite3.py` must be stored in the same folder as the Notebook
- Developed by my colleague Jan Kudlicka
- We can now run SQL queries directly in notebook cells

In [11]:
%load_ext isqlite3

The isqlite3 extension is already loaded. To reload it, use:
  %reload_ext isqlite3

In [12]:
%sql_open files/auto_dealership_database.db

Done!

## Employees table

In [13]:
%%sql

SELECT * FROM Employees LIMIT 10

## Cars table

In [14]:
%%sql

SELECT * 
FROM Cars 
LIMIT 10

## Sales table

In [15]:
%%sql

SELECT * 
FROM Sales 
LIMIT 10

# 3. SQL-syntax

## The `SELECT` and `FROM` statements:

- SQL is not case sensitive (Python is case sensitive) and `select` and `SELECT` is treated the same 

`SELECT column_name` 

`FROM table_name`

## The `WHERE` clause:

`SELECT column_name` 

`FROM table_name` 

`WHERE condition`

## The `ORDER BY` statement:

`SELECT column_name`

`FROM table_name`

`ORDER BY column_name [ASC or DESC]`

## Functions:

- `count` used to count rows 
- `min` used to find the minimum value
- `max` used to find the maximum value
- `avg` used to calculate the mean

## Example

`SELECT min(Sales.price)`

`FROM Sales`