# Exam in EDI 3400 Programming and Data Management 

### 19.12.2022 09:00 - 20.12.2022 15:00 (Fall 2022)

## Instructions

Download all files attached to this exam, place them in the same directory, and open the Jupyter notebook file (exam_fall_2022_EDI3400.ipynb).

**Your solutions must be given in the notebook's answer cells marked with "ANSWER CELL" on the first line. Do not remove these markings. If you are asked to implement a Python function, do not change the function name or its parameters that are already filled out in the cell.** You are allowed to add additional cells if you have need for them but you are not allowed to remove any cells you have not added yourself.

The assignments are divided into four sections (60 points in total):
1. Programming with basic Python (14 points in total)
2. NumPy, Pandas and Matplotlib (16 points in total)
3. Working with data (15 ponts in total)
4. Databases with SQL and Python (15 points in total)

Read all assignments before you start solving them. If you believe that some assignments need further clarification, send an email to Vegard H. Larsen (vegard.h.larsen@bi.no) as soon as possible.

Remember to save and back up the notebook periodically.

### Allowed aids
- You are allowed to use all course material and your notes.
- You are allowed to use resources on Internet but you need to **list the URLs of all used resources in the corresponding resources cell** at the end of each section.
- You are **NOT** allowed to get help from other people to solve the assignments.

### Submission

Submit the notebook (the ipynb file) with your solutions filled in to WISEflow before the deadline. Remember that the deadline is sharp, so do not wait until the very last minute to do so.

**Make sure to fill out your student ID below!**

### Preliminary grading criteria

To pass the exam you need to gain at least: 25 points

Your grade will be determined by the total number of points:

| Points   | Grade |
|----------|-------|
| >=  25   |     E |
| >=  30   |     D |
| >=  35   |     C |
| >=  46   |     B |
| >=  54   |     A |

## Your student ID

In [ ]:
# Our standar imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Programming with basic Python (14 points in total in this section)

### Assignment 1.1 (2 points)

Write a program that assigns a string to a variable. Then, print the content of this variable using two print statements. One print statement should print the string out in capital letters only. The other print statement should print out the string in lower case only. You can select the content of the string but it must contain some letters.

In [ ]:
# ANSWER CELL 1.1 (DO NOT REMOVE OR CHANGE THIS LINE)

a_string = 'This is a string!'

print(a_string.upper())
print(a_string.lower())

### Assignment 1.2 (2 points)

Write a program that prints out the sorted values in the list below (sort the list in alphabetical order).

`a_list = ['Tom', 'Anne', 'Eric', 'Adam', 'Nora', 'Chris']`

In [ ]:
# ANSWER CELL 1.2 (DO NOT REMOVE OR CHANGE THIS LINE)

a_list = ['Tom', 'Anne', 'Eric', 'Adam', 'Nora', 'Chris']
a_list.sort()

print(a_list)

### Assignment 1.3 (2 points)

Write a for loop that prints out the numbers from 10 to (and including) 60, but only if the number is a multiple of 3 (meaning you can get the number by multiplying an integer by 3).

In [ ]:
# ANSWER CELL 1.3 (DO NOT REMOVE OR CHANGE THIS LINE)

for i in range(10, 61):
    if i % 3 == 0:
        print(i)

### Assignment 1.4 (4 points)

Write a function that takes a list of words as input and returns another list of words where if the word ends with 'ing', this ending is removed. A word such as *learning* should be changed to *learn* while a word such as *school* should not be changed at all.

An example of a function function call is:

`remove_ing_ending(['beginning', 'good', 'sorting', 'is', 'learning', 'school'])`

This should return the list:

`['beginn', 'good', 'sort', 'is', 'learn', 'school']`

Note: Your function must be general and should work on other lists of words as well.

In [ ]:
# ANSWER CELL 1.4 (DO NOT REMOVE OR CHANGE THIS LINE)

def remove_ing_ending(list_of_words):
    list_of_words_without_ing_ending = []
    for word in list_of_words:
        if word[-3:] == 'ing':
                list_of_words_without_ing_ending.append(word[0:-3])
        else:
            list_of_words_without_ing_ending.append(word)
    return(list_of_words_without_ing_ending)
            
    
list_of_words_example = ['beginning', 'good', 'sorting', 'is', 'learning', 'school']

In [ ]:
remove_ing_ending(list_of_words_example)

### Assignment 1.5 (4 points)

Write a function that takes a movie review as an input (as a string) and returns whether the movie is good or bad based on positive and negative words in the review. A movie review can also be classified as neutral.

You must create your own dictionary for how to score the reviews. Your function should always return one of the three strings: 'Bad movie', 'Good movie' or 'Neutral movie'

You decide what words get a positive and negative score but the following function calls shall return the string 'Bad movie':

`goodOrBad('I did not like this movie, it was good in the beginning but then it turned awful')`

`goodOrBad('This movie was terrible and I can not recommend it to anyone')`

The following function calls should return 'Good movie'

`goodOrBad('This is a great movie.')`

`goodOrBad('I enjoyed watching this movie.')`

The following function calls should return 'Neutral movie'

`goodOrBad('This was both a good and a bad movie.')`

`goodOrBad('I did not see this movie.')`

Note that your function should work on other reviews than the examples given here as well.

In [ ]:
# ANSWER CELL 1.5 (DO NOT REMOVE OR CHANGE THIS LINE)

def goodOrBad(review):
    # Let's define our dictionary with positive and negative terms
    my_dictionary = {"great": 2, "enjoyed": 1, "good": 1,  "bad": -1, "did not like": -1, "terrible": -2, "awful": -2}
    # Initialize the score to 0
    sentiment_score = 0
    # Split the text into words
    words = review.split()
    # Loop through the words
    for word in words:
        # If the word is in the dictionary, add the score to the total sentiment score
        if word in my_dictionary:
            sentiment_score += my_dictionary[word]
    if sentiment_score > 0:
        return 'Good movie'
    elif sentiment_score < 0:
        return 'Bad movie'
    else:
        return 'Neutral movie'

In [ ]:
print(goodOrBad('I did not like this movie, it was good in the beginning but then it turned awful'))
print(goodOrBad('This movie was terrible and I can not recommend it to anyone'))

print(goodOrBad('This is a great movie.'))
print(goodOrBad('I enjoyed watching this movie.'))

print(goodOrBad('This was both a good and a bad movie.'))
print(goodOrBad('I did not see this movie.'))

### Used resources

Include URLs of online resources that you have used to solve the exercises in this section:

## 2. NumPy, Pandas and Matplotlib (16 points in total in this section)

### Assignment 2.1 (2 points)

Create two numpy arrays $A$ and $B$ with random numbers (you can use the `np.random.rand` function to create the random numbers). $A$ and $B$ should have the shape `3x3` (three rows and three columns). Print out the two matrices $A$ and $B$. Multiply these two matrices together, using matrix multiplication, and print out the resulting matrix. Lastly, multiply $A$ and $B$ together using elementwise multiplication, and print out the result:

In [ ]:
# ANSWER CELL 2.1 (DO NOT REMOVE OR CHANGE THIS LINE)

A = np.random.randn(3,3)
B = np.random.randn(3,3)

print('The A matrix:')
print(A)
print('\nThe B matrix:')
print(B)
print('\nMatrix multiplication:')
print(A.dot(B))
print('\nElementwise multipication')
print(A*B)

### Assignment 2.2 (4 points)

1. (2 points) Solve the following linear equation system for $x$ and $y$ using NumPy:

$$ \text{Equation } 1: \;\; 3x - 5y = 5 $$
$$ \text{Equation } 2: \;\;\;\; x + 2y = 9 $$

Your code should return a NumPy array with the solution for `x` and `y`.

2. (2 points) Plot equation 1 and 2 in the same figure (plot the figure for $x$-values from 0 to 10). Check that the two lines cross in the point that you found in assignment 2.2.1.

In [ ]:
# ANSWER CELL 2.2.1 (DO NOT REMOVE OR CHANGE THIS LINE)

A = np.array([[3, -5],
              [1, 2]])

b = np.array([[5], 
              [9]])

np.linalg.solve(A, b)

In [ ]:
# ANSWER CELL 2.2.2 (DO NOT REMOVE OR CHANGE THIS LINE)

x = np.arange(0, 10, 0.1)

y_eq1 = (3/5)*x - 1

y_eq2 = 9/2 - (1/2)*x

plt.figure(figsize=(8,6))
plt.plot(x, y_eq1, 
         lw=3, label='Equation 1')
plt.plot(x, y_eq2, 
         lw=3, label='Equation 2')
plt.grid()
plt.legend(fontsize=16)

### Assignment 2.3 (2 points)

Create a scatter plot using data from the two data sets given below. Use a different color on the markers for the two data sets so you can see which values belong to which data set in the figure.

Dataset 1

x1 = [19, 63, 26, 35, 85, 56, 37, 34, 18, 21]

y1 = [31, 16, 38, 35, 7, 95, 3, 72, 58, 10]

Dataset 2

x2 = [26, 29, 78, 55, 6, 5, 64, 66, 72, 40]

y2 = [26, 34, 30, 33, 38, 73, 16, 2, 47, 25]

In [ ]:
# ANSWER CELL 2.3 (DO NOT REMOVE OR CHANGE THIS LINE)

x1 = [19, 63, 26, 35, 85, 56, 37, 34, 18, 21]
y1 = [31, 16, 38, 35, 7, 95, 3, 72, 58, 10]

x2 = [26, 29, 78, 55, 6, 5, 64, 66, 72, 40]
y2 = [26, 34, 30, 33, 38, 73, 16, 2, 47, 25]
  
plt.figure(figsize=(8,6))    
plt.scatter(x1, y1, 
            c ="forestgreen",
            linewidths = 2,
            marker ="o",
            s = 200)
 
plt.scatter(x2, y2, 
            c ="navy",
            linewidths = 2,
            marker ="o",
            s = 200)
 
plt.xlabel("$x$-axis")
plt.ylabel("$y$-axis")
plt.show()

### Assignment 2.4 (8 points)

1. (2 points) Create the following Pandas DataFrame with data on population and land area for a set of countries. Call the DataFrame `pop_and_land`.

|    | Country | Population    |Land area (Km$^2$)        |
|--- |---      |---            |---        |
| 0  | Norway  | 5 421 241     | 365 268   |
| 1  | Canada  | 37 742 154    | 9 093 510 |
| 2  | France  | 65 273 511    | 547 557   |
| 3  | Germany | 83 783 942    | 348 560   |
| 4  | Brazil  | 212 559 417   | 8 358 140 |
| 5  | Italy   | 60 461 826    | 294 140   |
| 6  | Japan   | 126 476 461   | 364 555   |
| 7  | UK      | 67 886 011    | 241 930   |
| 8  | US      | 331 002 651   | 9 147 420 |
| 9  | Nigeria | 206 139 589   | 910 770   |  
| 10 | China   | 1 439 323 776 | 9 388 211 |


2. (2 points) Create a new column in `pop_and_land` with data on land area in square meters per person in the country. Print out the DataFrame where you sort the data from most land per person to least.

3. (2 points) Create a bar plot with the countries on the $x$-axis and the population on the $y$-axis

4. (2 points) Create a scatter plot with the number population on the $x$-axis and the land area on the $y$-axis

In [ ]:
# ANSWER CELL 2.4.1 (DO NOT REMOVE OR CHANGE THIS LINE)


pop_and_land = pd.DataFrame([['Norway', 5_421_241, 365_268],
                             ['Canada', 37_742_154, 9_093_510],
                             ['France', 65_273_511, 547_557],  
                             ['Germany', 83_783_942, 348_560],  
                             ['Brazil', 212_559_417, 8_358_140],
                             ['Italy', 60_461_826, 294_140],  
                             ['Japan', 126_476_461, 364_555],  
                             ['UK', 67_886_011, 241_930],  
                             ['US', 331_002_651, 9_147_420],
                             ['Nigeria', 206_139_589, 910_770],    
                             ['China', 1_439_323_776, 9_388_211]],
                            columns=['Country', 'Population', 'Land_area'])

pop_and_land

In [ ]:
# ANSWER CELL 2.4.2 (DO NOT REMOVE OR CHANGE THIS LINE)

pop_and_land['pop_per_area'] = (pop_and_land['Land_area'] / pop_and_land['Population'])*1000
pop_and_land.sort_values(by='pop_per_area', ascending=False)

In [ ]:
# ANSWER CELL 2.4.3 (DO NOT REMOVE OR CHANGE THIS LINE)

plt.figure(figsize=(15,5))
plt.bar(pop_and_land['Country'], pop_and_land['Population'])

In [ ]:
# ANSWER CELL 2.4.4 (DO NOT REMOVE OR CHANGE THIS LINE)

plt.figure(figsize=(8,6))
plt.xlabel('Population', fontsize=16)
plt.ylabel('Land area', fontsize=16)
plt.scatter(pop_and_land['Population'], pop_and_land['Land_area'], marker='o', s=100)
plt.show()

### Used resources

Include URLs of online resources that you have used to solve the exercises in this section:

## 3. Working with data (15 points in total in this section)

### Assignment 3.1 (15 points total)

Use Pandas to load the data stored in the csv file congress_terms.csv. 

This is a dataset from [FiveThirtyEight](https://fivethirtyeight.com) with data on US congress mebers and their age when their term in congress started. Every row in the dataset corresponds to a politicians term in the congress. A politician can serve several terms. 

1. (2 points) Print out the number of congress terms by party (also print out the total number of terms by independent politicians). 

Hint: Thera are four parties in the dataset: Democrats (D), Republicans (R), American Labor Party (AL), Liberal Party (L). Note that the indepentent politicians are coded with both *I* and *ID* in the party column. 

2. (2 points) Print out the 5 rows where the age of the politician is the highest. 

3. (2 points) Print out the mean age in the 110th congress. Round the age so that you only print the age with 1 decimal points.

4. (3 points) Plot the mean age over time (you can group the data by either the column congress or termstart). Create one line for the senate and one line for the house. Add a legend to the plot to show which line represent the house and which line represents the senate

5. (3 points) Create a bar plot where you plot a bar for each state in the US. The hight of the bars should give the maximum age of the representatives from that state serving in congress. Hint: The plot should consist of 50 bars where e.g., the hight of the FL (Florida) bar should be 88.3 and the hight of the TX (Texas) bar should be 89.7.

6. (3 points) Create a line plot with the number of democrats vs. the number of republicans in the US senate over time. You should have one line with the number republicans and one line with the number of democrats so you can compare their relative strength over time. Hint: the $x$-axis should be the congress number that runs from 80 to 113 while the $y$-axis should give the number of republicans and democrats.

In [ ]:
# ANSWER CELL 3.1.1 (DO NOT REMOVE OR CHANGE THIS LINE)

data = pd.read_csv('congress_terms.csv', index_col=[0])

print(f'The party categories are: {set(data.party)}')
print('')
print(f'Number from the Democrats: {sum(data.party == "D")}')
print(f'Number from the Republicans: {sum(data.party == "R")}')
print(f'Number from the American Labor Party: {sum(data.party == "AL")}')
print(f'Number from the Liberal Party: {sum(data.party == "L")}')
print(f'Number of Independents: {sum(data.party == "I") + sum(data.party == "ID")}')

In [ ]:
# ANSWER CELL 3.1.2  (DO NOT REMOVE OR CHANGE THIS LINE)

data.sort_values(by='age').tail()

In [ ]:
# ANSWER CELL 3.1.3  (DO NOT REMOVE OR CHANGE THIS LINE)

print(round(data[data.congress == 110]['age'].mean(), 1))

In [ ]:
# ANSWER CELL 3.1.4  (DO NOT REMOVE OR CHANGE THIS LINE)

plt.title('Mean age over time', fontsize=16)
data[data.chamber == 'senate'].groupby('termstart')['age'].mean().plot(figsize=(12,5),
                                                                       lw=3,
                                                                       label='Senate',
                                                                       legend=True)
data[data.chamber == 'house'].groupby('termstart')['age'].mean().plot(figsize=(12,5),
                                                                      lw=3,
                                                                      label='House',
                                                                      legend=True)
plt.show()

In [ ]:
# ANSWER CELL 3.1.5  (DO NOT REMOVE OR CHANGE THIS LINE)

plt.figure(figsize=(18,6))
plt.bar(data.groupby('state')['age'].max().index,
        data.groupby('state')['age'].max().values)
plt.show()

In [ ]:
# ANSWER CELL 3.1.6  (DO NOT REMOVE OR CHANGE THIS LINE)

data_senate = data[data.chamber == 'senate']

number_of_republicans = []
number_of_democrats = []

for i in range(80,114,1):
    tmp = data_senate[data_senate.congress == i]
    number_of_republicans.append(len(tmp[tmp.party == 'R']))
    number_of_democrats.append(len(tmp[tmp.party == 'D']))

senate_numbers = pd.DataFrame([number_of_democrats, number_of_republicans],
                               columns=range(80,114,1), index=['Democrats', 'Republicans']).T

senate_numbers.plot(figsize=(15,5), lw=3)
plt.legend(fontsize=16)
plt.show()

### Used resources

Include URLs of online resources that you have used to solve the exercises in this section:

## 4. Databases with SQL and Python (15 points in total in this section)

All assignments in this section will rely on the auto_dealership_exam.db database. You can load it in the cell below the description of the database.

## Auto dealership database

### Table: Employee

* id - Unique identifier
* name - First name 
* salary - Salary in €
* education - High School, Bachelor or Master
* department - Admin, Sales or Service

### Table: Car

* id - Unique identifier
* make - Car manufacturer, e.g., Toyota or BMW
* type - Type of car, e.g., Sedan or SUV
* year - Production year of the car
* color - Color of Car
* msrp - Manufacturer's suggested retail price in €
* employee id - Identifier from employee table, telling us which employee is responsible for the car

### Table: Customer

* **id** - Unique identifier 
* **first_name** - First name
* **last_name** - Last name
* **phone** - Telephone number
* **birth_year** - Birth year

### Table: Sales

* **id** - Unique identifier
* **date** - Date of the sale
* **list_price** - The list price at the time of the sale
* **price** - The actual sales price
* **customer_id** - The customer id
* **car_id** - The car id
* **employee_id** - The employee id

In [ ]:
%load_ext isqlite3
%sql_open auto_dealership_exam.db

### Assignment 4.1 (10 points)

1. (2 points) Write an SQL query to return all employees in the sales department.

2. (2 points) Write an SQL query to return all purple cars from 2010.

3. (3 points) Create a query that returns the sales **date**, sales **list price**, employee **name** and car **make** for all cars that had a list price of over 150 000

4. (3 points) Create a query that returns all the information from the customer table for all the customers that buys an Estate car for more than 100 000

In [ ]:
%%sql --ANSWER CELL 4.1.1 (DO NOT REMOVE OR CHANGE THIS LINE)

SELECT *
FROM Employees
WHERE department = 'Sales'

In [ ]:
%%sql --ANSWER CELL 4.1.2 (DO NOT REMOVE OR CHANGE THIS LINE)

SELECT *
FROM Cars
WHERE year = 2010
AND color = 'Purple'

In [ ]:
%%sql --ANSWER CELL 4.1.3 (DO NOT REMOVE OR CHANGE THIS LINE)

SELECT Sales.date, Sales.list_price, Employees.name, Cars.make
FROM Sales, Employees, Cars
WHERE Sales.employee_id = Employees.id
AND Sales.car_id = Cars.id
AND Sales.price > 150000

In [ ]:
%%sql --ANSWER CELL 4.1.4 (DO NOT REMOVE OR CHANGE THIS LINE)

SELECT Customers.*
FROM Customers, Cars, Sales
WHERE Sales.customer_id = Customers.id
AND Sales.car_id = Cars.id
AND Cars.type = 'Estate'
AND Sales.price > 100000

### Assignment 4.2 (5 points)

1. (2 points) Use the sqlite3 library to interact with the database and create a Pandas dataframe with all the information about the Volkswagen cars from the Cars table.

2. (3 points) Plot the yearly mean (based on the year of the car) **msrp** for all the cars with the make **Mercedes**

In [ ]:
# ANSWER CELL 4.2.1 (DO NOT REMOVE OR CHANGE THIS LINE)

import sqlite3

con = sqlite3.connect('auto_dealership_exam.db')
Volkswagens = pd.read_sql('SELECT * FROM Cars WHERE make = "Volkswagen"', con)
con.close()
Volkswagens.tail()

In [ ]:
# ANSWER CELL 4.2.2 (DO NOT REMOVE OR CHANGE THIS LINE)

con = sqlite3.connect('auto_dealership_exam.db')
Toyotas = pd.read_sql('SELECT * FROM Cars WHERE make = "Toyota"', con)
con.close()

ToyotasDay = Toyotas.groupby('year').mean()['msrp']

plt.figure(figsize=(10,4))
plt.title('Average Toyota msrp', fontsize=16)
plt.plot(ToyotasDay.index, ToyotasDay, lw=3)

### Used resources

Include URLs of online resources that you have used to solve the exercises in this section: